@font-face {
    font-family: 'SteagalW01Bold';
    src: url('/assets/fonts/Steagal W01 Bold.ttf') format('truetype'),
         url('/assets/fonts/Steagal W01 Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'SteagalW01Bold', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4e7084;
    color: #ede4e4;
    overflow: hidden; /* Disable scrolling */
}

header {
    background-color: #4e7084;
    color: #ede4e4;
    padding: 20px 0;
    text-align: center;
}

main {
    padding: 50px 20px;
    text-align: center;
}

h1 {
    color: #ede4e4;
}

.team-section {
    margin-top: 50px;
    background-color: #4e7084;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.team-member {
    margin-bottom: 30px;
}

.team-member h3 {
    margin: 0;
    text-align: center; /* Center the name */
    color: #ede4e4; /* Updated to #ede4e4 */
}

.team-member p {
    margin: 5px 0;
    text-align: center; /* Center the contact details */
    color: #ede4e4;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #4e7084; /* Removed the black bar */
    color: #ede4e4; /* Set text color to #ede4e4 */
}

/* Favicon link */
.favicon-link {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background: url('/assets/favicon_io/android-chrome-512x512.png') no-repeat center center;
    background-size: contain;
}
