body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.donation-container {
    text-align: center;
}

.donate-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.paypal {
    background-color: #0070ba;
}

.paypal:hover {
    background-color: #005ea6;
}

.buy-coffee {
    background-color: #ff813f;
}

.buy-coffee:hover {
    background-color: #cc6600;
}
