.social-media-links a {
    display: block;
    font-size: 18px;
    color: #007bff; /* Mavi renk */
    text-decoration: none;
    margin-bottom: 10px;
}

.social-media-links a:hover {
    color: #0056b3; /* Hover rengi */
}
